body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.header{
    padding: 90px  370px 90px 150px;
    button{
        padding: 2px 8px;
        background: #DCFCE7;
box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
border-radius: 36px;
border: none;
color: #22C55E;
font-weight: 500;
    }
    h2{
        font-size: 48px;
        line-height: 60px;
        letter-spacing: -2px;
        font-weight: 700;
        color: #1C232D;
        margin: 0;
    }
    p{
        font-size: 20px;
        line-height: 30px;
        font-weight: 500;
        color: #556987;
        margin: 0;
    }
}
.blocks .search-ul{
    list-style-type: none;
    .search-item a{
        text-decoration: none;
        color: #8896AB;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
    }
    .search-item:hover{
        background:#BBF7D0;
        color: red !important;
    }
    .search-item{
        margin: 5px 0;
    }
    .search-item-btn {
        background: #BBF7D0;
box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
border: none;
border-radius: 6px;
width: 100%;
text-align: left;
color:#22C55E;
font-weight: 700;
font-size: 16px;
line-height: 24px;
    }
}
    .block-img h1{
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        color: #333F51;
        margin:24px 0 16px 0;
        p{
         font-size: 18px;
         line-height: 28px;
         color: #8896AB;
         font-weight: 500;
        }
        .block-img .row{
            display: flex;
            align-items: center;

        }
     }
     .container .col-md-4 .mini-block{
        display: flex;
        margin-bottom: 20px;
     }
     .container .search{
        width: 359px;
        margin-left: 30px;
        input{
            width: 340px;
            background: #FFFFFF;
            padding: 7px 14px;

       border: 1px solid #D5DAE1;
       box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 8px;
        }
       }
       

     .mini-block .btn{
        width: 133px;
        padding: 8px, 16px, 8px, 16px;
        border-radius: 6px;
        background: #22C55E;
box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
color: white;
     }

